<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-RU" lang="ru-RU" dir="ltr" prefix="og: http://ogp.me/ns#">
<head>
	
<meta charset="utf-8" />
<link rel="canonical" href="https://www.apple.com/ru/contact/" />


	
	<link rel="alternate" href="https://www.apple.com/ae-ar/contact/" hreflang="ar-AE" /><link rel="alternate" href="https://www.apple.com/ae/contact/" hreflang="en-AE" /><link rel="alternate" href="https://www.apple.com/at/contact/" hreflang="de-AT" /><link rel="alternate" href="https://www.apple.com/au/contact/" hreflang="en-AU" /><link rel="alternate" href="https://www.apple.com/befr/contact/" hreflang="fr-BE" /><link rel="alternate" href="https://www.apple.com/benl/contact/" hreflang="nl-BE" /><link rel="alternate" href="https://www.apple.com/br/contact/" hreflang="pt-BR" /><link rel="alternate" href="https://www.apple.com/ca/contact/" hreflang="en-CA" /><link rel="alternate" href="https://www.apple.com/ca/fr/contact/" hreflang="fr-CA" /><link rel="alternate" href="https://www.apple.com/chde/contact/" hreflang="de-CH" /><link rel="alternate" href="https://www.apple.com/chfr/contact/" hreflang="fr-CH" /><link rel="alternate" href="https://www.apple.com/cl/contact/" hreflang="es-CL" /><link rel="alternate" href="https://www.apple.com/co/contact/" hreflang="es-CO" /><link rel="alternate" href="https://www.apple.com/contact/" hreflang="en-AM" /><link rel="alternate" href="https://www.apple.com/contact/" hreflang="uk-UA" /><link rel="alternate" href="https://www.apple.com/contact/" hreflang="en-TM" /><link rel="alternate" href="https://www.apple.com/contact/" hreflang="en-GE" /><link rel="alternate" href="https://www.apple.com/contact/" hreflang="en-KG" /><link rel="alternate" href="https://www.apple.com/contact/" hreflang="en-KZ" /><link rel="alternate" href="https://www.apple.com/contact/" hreflang="en-MD" /><link rel="alternate" href="https://www.apple.com/contact/" hreflang="en-AZ" /><link rel="alternate" href="https://www.apple.com/contact/" hreflang="en-US" /><link rel="alternate" href="https://www.apple.com/contact/" hreflang="en-BY" /><link rel="alternate" href="https://www.apple.com/contact/" hreflang="en-TJ" /><link rel="alternate" href="https://www.apple.com/contact/" hreflang="en-UZ" /><link rel="alternate" href="https://www.apple.com/cz/contact/" hreflang="cs-CZ" /><link rel="alternate" href="https://www.apple.com/de/contact/" hreflang="de-DE" /><link rel="alternate" href="https://www.apple.com/dk/contact/" hreflang="da-DK" /><link rel="alternate" href="https://www.apple.com/es/contact/" hreflang="es-ES" /><link rel="alternate" href="https://www.apple.com/fi/contact/" hreflang="fi-FI" /><link rel="alternate" href="https://www.apple.com/fr/contact/" hreflang="fr-FR" /><link rel="alternate" href="https://www.apple.com/hk/contact/" hreflang="zh-HK" /><link rel="alternate" href="https://www.apple.com/hk/en/contact/" hreflang="en-HK" /><link rel="alternate" href="https://www.apple.com/hu/contact/" hreflang="hu-HU" /><link rel="alternate" href="https://www.apple.com/id/contact/" hreflang="en-ID" /><link rel="alternate" href="https://www.apple.com/ie/contact/" hreflang="en-IE" /><link rel="alternate" href="https://www.apple.com/in/contact/" hreflang="en-IN" /><link rel="alternate" href="https://www.apple.com/it/contact/" hreflang="it-IT" /><link rel="alternate" href="https://www.apple.com/jp/contact/" hreflang="ja-JP" /><link rel="alternate" href="https://www.apple.com/kr/contact/" hreflang="ko-KR" /><link rel="alternate" href="https://www.apple.com/la/contact/" hreflang="es-EC" /><link rel="alternate" href="https://www.apple.com/la/contact/" hreflang="es-PR" /><link rel="alternate" href="https://www.apple.com/la/contact/" hreflang="es-VE" /><link rel="alternate" href="https://www.apple.com/la/contact/" hreflang="es-GT" /><link rel="alternate" href="https://www.apple.com/la/contact/" hreflang="es-PE" /><link rel="alternate" href="https://www.apple.com/la/contact/" hreflang="es-NI" /><link rel="alternate" href="https://www.apple.com/la/contact/" hreflang="es-PA" /><link rel="alternate" href="https://www.apple.com/la/contact/" hreflang="es-AR" /><link rel="alternate" href="https://www.apple.com/la/contact/" hreflang="es-HN" /><link rel="alternate" href="https://www.apple.com/la/contact/" hreflang="es-CR" /><link rel="alternate" href="https://www.apple.com/la/contact/" hreflang="es-UY" /><link rel="alternate" href="https://www.apple.com/la/contact/" hreflang="es-SV" /><link rel="alternate" href="https://www.apple.com/la/contact/" hreflang="es-PY" /><link rel="alternate" href="https://www.apple.com/la/contact/" hreflang="es-BO" /><link rel="alternate" href="https://www.apple.com/la/contact/" hreflang="es-DO" /><link rel="alternate" href="https://www.apple.com/mo/contact/" hreflang="zh-MO" /><link rel="alternate" href="https://www.apple.com/mx/contact/" hreflang="es-MX" /><link rel="alternate" href="https://www.apple.com/my/contact/" hreflang="en-MY" /><link rel="alternate" href="https://www.apple.com/nl/contact/" hreflang="nl-NL" /><link rel="alternate" href="https://www.apple.com/no/contact/" hreflang="no-NO" /><link rel="alternate" href="https://www.apple.com/nz/contact/" hreflang="en-NZ" /><link rel="alternate" href="https://www.apple.com/ph/contact/" hreflang="en-PH" /><link rel="alternate" href="https://www.apple.com/pl/contact/" hreflang="pl-PL" /><link rel="alternate" href="https://www.apple.com/pt/contact/" hreflang="pt-PT" /><link rel="alternate" href="https://www.apple.com/ru/contact/" hreflang="ru-RU" /><link rel="alternate" href="https://www.apple.com/sa-ar/contact/" hreflang="ar-SA" /><link rel="alternate" href="https://www.apple.com/sa/contact/" hreflang="en-SA" /><link rel="alternate" href="https://www.apple.com/se/contact/" hreflang="sv-SE" /><link rel="alternate" href="https://www.apple.com/sg/contact/" hreflang="en-SG" /><link rel="alternate" href="https://www.apple.com/th/contact/" hreflang="th-TH" /><link rel="alternate" href="https://www.apple.com/tr/contact/" hreflang="tr-TR" /><link rel="alternate" href="https://www.apple.com/tw/contact/" hreflang="zh-TW" /><link rel="alternate" href="https://www.apple.com/uk/contact/" hreflang="en-GB" /><link rel="alternate" href="https://www.apple.com/vn/contact/" hreflang="en-VN" /><link rel="alternate" href="https://www.apple.com/za/contact/" hreflang="en-ZA" /><link rel="alternate" href="https://www.apple.com.cn/contact/" hreflang="zh-CN" />




	
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

	
	
	<link rel="stylesheet" type="text/css" href="/ac/globalnav/7/ru_RU/styles/ac-globalnav.built.css" />
	<link rel="stylesheet" type="text/css" href="/ac/localnav/6/styles/ac-localnav.built.css" />
	<link rel="stylesheet" type="text/css" href="/ac/globalfooter/7/ru_RU/styles/ac-globalfooter.built.css" />
	


	<title>Контактная информация – Apple (RU)</title>
	<meta name="Description" content="Узнайте, как связаться с Apple, получить техническую поддержку и многое другое." />

	
	<meta property="og:image" content="https://www.apple.com/ac/structured-data/images/open_graph_logo.png?202112240152" />
	<meta property="og:title" content="Контактная информация" />
	<meta property="og:description" content="Узнайте, как связаться с Apple, получить техническую поддержку и многое другое." />
	<meta property="og:url" content="https://www.apple.com/ru/contact/" />
	<meta property="og:locale" content="ru_RU" />
	<meta property="og:site_name" content="Apple (Россия)" />
	<meta property="og:type" content="website" />
	<meta name="twitter:site" content="Apple" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta property="analytics-track" content="contact - overview" />
	<meta property="analytics-s-channel" content="contact" />
	
	<meta property="analytics-s-bucket-0" content="applestoreww" />
	<meta property="analytics-s-bucket-1" content="applestoreww" />
	<meta property="analytics-s-bucket-2" content="applestoreww" />


	<link rel="stylesheet" href="/wss/fonts?families=SF+Pro,v3|SF+Pro+Icons,v3" />
	<link rel="stylesheet" href="/v/contact/c/built/styles/main.built.css" type="text/css" />
	<link rel="stylesheet" href="/v/contact/c/built/styles/overview.built.css" type="text/css" />
	<link rel="stylesheet" href="/ru/contact/styles/overview.css" type="text/css" />
	<script src="/v/contact/c/built/scripts/head.built.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="page-overview ">
	

<meta name="ac-gn-store-key" content="SFX9YPYY9PPXCU9KH" />
<aside id="ac-gn-segmentbar" class="ac-gn-segmentbar" lang="ru-RU" dir="ltr" data-strings="{ 'exit': 'Выход', 'view': '{%STOREFRONT%} Главная страница Магазина', 'segments': { 'smb': '', 'eduInd': 'Главная страница Магазина для образования', 'other': 'Главная страница Магазина' } }"></aside>
<input type="checkbox" id="ac-gn-menustate" class="ac-gn-menustate" />
<nav id="ac-globalnav" class="no-js" role="navigation" aria-label="Глобальная навигация" data-hires="false" data-analytics-region="global nav" lang="ru-RU" dir="ltr" data-www-domain="www.apple.com" data-store-locale="ru" data-store-root-path="/ru" data-store-api="/[storefront]/shop/bag/status" data-search-locale="ru_RU" data-search-locale="ru_RU" data-search-suggestions-api="/search-services/suggestions/" data-search-defaultlinks-api="/search-services/suggestions/defaultlinks/">
	<div class="ac-gn-content">
		<ul class="ac-gn-header">
			<li class="ac-gn-item ac-gn-menuicon">
				<a href="#ac-gn-menustate" role="button" class="ac-gn-menuanchor ac-gn-menuanchor-open" id="ac-gn-menuanchor-open">
					<span class="ac-gn-menuanchor-label">Global Nav Открыть меню</span>
				</a>
				<a href="#" role="button" class="ac-gn-menuanchor ac-gn-menuanchor-close" id="ac-gn-menuanchor-close">
					<span class="ac-gn-menuanchor-label">Global Nav Закрыть меню</span>
				</a>
				<label class="ac-gn-menuicon-label" for="ac-gn-menustate" aria-hidden="true">
					<span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-top">
						<span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-top"></span>
					</span>
					<span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-bottom">
						<span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-bottom"></span>
					</span>
				</label>
			</li>
			<li class="ac-gn-item ac-gn-apple">
				<a class="ac-gn-link ac-gn-link-apple" href="/ru/" data-analytics-title="apple home" id="ac-gn-firstfocus-small">
					<span class="ac-gn-link-text">Apple</span>
				</a>
			</li>
			<li class="ac-gn-item ac-gn-bag ac-gn-bag-small" id="ac-gn-bag-small">
				<div class="ac-gn-bag-wrapper">
					<a class="ac-gn-link ac-gn-link-bag" href="/ru/shop/goto/bag" data-analytics-title="bag" data-analytics-click="bag" aria-label="Корзина" data-string-badge="Товаров в корзине:">
						<span class="ac-gn-link-text">Корзина</span>
					</a>
					<span class="ac-gn-bag-badge" aria-hidden="true" data-analytics-title="bag" data-analytics-click="bag">
						<span class="ac-gn-bag-badge-separator"></span>
						<span class="ac-gn-bag-badge-number"></span>
						<span class="ac-gn-bag-badge-unit">+</span>
					</span>
				</div>
				<span class="ac-gn-bagview-caret ac-gn-bagview-caret-large"></span>
			</li>
		</ul>
		<div class="ac-gn-search-placeholder-container" role="search">
			<div class="ac-gn-search ac-gn-search-small">
				<a id="ac-gn-link-search-small" class="ac-gn-link" href="/ru/search" data-analytics-title="search" data-analytics-intrapage-link aria-label="Поиск на apple.com">
					<div class="ac-gn-search-placeholder-bar">
						<div class="ac-gn-search-placeholder-input">
							<div class="ac-gn-search-placeholder-input-text" aria-hidden="true">
								<div class="ac-gn-link-search ac-gn-search-placeholder-input-icon"></div>
								<span class="ac-gn-search-placeholder">Поиск на apple.com</span>
							</div>
						</div>
						<div class="ac-gn-searchview-close ac-gn-searchview-close-small ac-gn-search-placeholder-searchview-close">
							<span class="ac-gn-searchview-close-cancel" aria-hidden="true">Отменить</span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<ul class="ac-gn-list">
			<li class="ac-gn-item ac-gn-apple">
				<a class="ac-gn-link ac-gn-link-apple" href="/ru/" data-analytics-title="apple home" id="ac-gn-firstfocus">
					<span class="ac-gn-link-text">Apple</span>
				</a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-store">
				<a class="ac-gn-link ac-gn-link-store" href="/ru/shop/goto/store" data-analytics-title="store">
					<span class="ac-gn-link-text">Магазин</span>
				</a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-mac">
				<a class="ac-gn-link ac-gn-link-mac" href="/ru/mac/" data-analytics-title="mac">
					<span class="ac-gn-link-text">Mac</span>
				</a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-ipad">
				<a class="ac-gn-link ac-gn-link-ipad" href="/ru/ipad/" data-analytics-title="ipad">
					<span class="ac-gn-link-text">iPad</span>
				</a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-iphone">
				<a class="ac-gn-link ac-gn-link-iphone" href="/ru/iphone/" data-analytics-title="iphone">
					<span class="ac-gn-link-text">iPhone</span>
				</a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-watch">
				<a class="ac-gn-link ac-gn-link-watch" href="/ru/watch/" data-analytics-title="watch">
					<span class="ac-gn-link-text">Watch</span>
				</a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-airpods">
				<a class="ac-gn-link ac-gn-link-airpods" href="/ru/airpods/" data-analytics-title="airpods">
					<span class="ac-gn-link-text">AirPods</span>
				</a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-tvhome">
				<a class="ac-gn-link ac-gn-link-tvhome" href="/ru/tv-home/" data-analytics-title="tv and home">
					<span class="ac-gn-link-text">TV и Дом</span>
				</a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-onlyonapple">
				<a class="ac-gn-link ac-gn-link-onlyonapple" href="/ru/services/" data-analytics-title="only on apple">
					<span class="ac-gn-link-text">Только в Apple</span>
				</a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-accessories">
				<a class="ac-gn-link ac-gn-link-accessories" href="/ru/shop/goto/buy_accessories" data-analytics-title="accessories">
					<span class="ac-gn-link-text">Аксессуары</span>
				</a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-support">
				<a class="ac-gn-link ac-gn-link-support" href="https://support.apple.com/ru-ru" data-analytics-title="support">
					<span class="ac-gn-link-text">Поддержка</span>
				</a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-search" role="search">
				<a id="ac-gn-link-search" class="ac-gn-link ac-gn-link-search" href="/ru/search" data-analytics-title="search" data-analytics-intrapage-link aria-label="Поиск на apple.com"></a>
			</li>
			<li class="ac-gn-item ac-gn-bag" id="ac-gn-bag">
				<div class="ac-gn-bag-wrapper">
					<a class="ac-gn-link ac-gn-link-bag" href="/ru/shop/goto/bag" data-analytics-title="bag" data-analytics-click="bag" aria-label="Корзина" data-string-badge="Товаров в корзине: {%BAGITEMCOUNT%}">
						<span class="ac-gn-link-text">Корзина</span>
					</a>
					<span class="ac-gn-bag-badge" aria-hidden="true" data-analytics-title="bag" data-analytics-click="bag">
						<span class="ac-gn-bag-badge-separator"></span>
						<span class="ac-gn-bag-badge-number"></span>
						<span class="ac-gn-bag-badge-unit">+</span>
					</span>
				</div>
				<span class="ac-gn-bagview-caret ac-gn-bagview-caret-large"></span>
			</li>
		</ul>
		<aside id="ac-gn-searchview" class="ac-gn-searchview" role="search" data-analytics-region="search">
			<div class="ac-gn-searchview-content">
				<div class="ac-gn-searchview-bar">
					<div class="ac-gn-searchview-bar-wrapper">
						<form id="ac-gn-searchform" class="ac-gn-searchform" action="/ru/search" method="get">
							<div class="ac-gn-searchform-wrapper">
								<input id="ac-gn-searchform-input" class="ac-gn-searchform-input" type="text" aria-label="Поиск на apple.com" placeholder="Поиск на apple.com" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="true" aria-owns="quicklinks suggestions" />
								<input id="ac-gn-searchform-src" type="hidden" name="src" value="globalnav" />
								<button id="ac-gn-searchform-submit" class="ac-gn-searchform-submit" type="submit" disabled aria-label="Отправить"> </button>
								<button id="ac-gn-searchform-reset" class="ac-gn-searchform-reset" type="reset" disabled aria-label="Очистить поиск">
									<span class="ac-gn-searchform-reset-background"></span>
								</button>
							</div>
						</form>
						<button id="ac-gn-searchview-close-small" class="ac-gn-searchview-close ac-gn-searchview-close-small" aria-label="Отменить поиск">
							<span class="ac-gn-searchview-close-cancel" aria-hidden="true">
								Отменить
							</span>
						</button>
					</div>
				</div>
				<aside id="ac-gn-searchresults" class="ac-gn-searchresults" data-string-quicklinks="Быстрые ссылки" data-string-suggestions="Предложенные варианты" data-string-noresults=""></aside>
			</div>
			<button id="ac-gn-searchview-close" class="ac-gn-searchview-close" aria-label="Отменить поиск">
				<span class="ac-gn-searchview-close-wrapper">
					<span class="ac-gn-searchview-close-left"></span>
					<span class="ac-gn-searchview-close-right"></span>
				</span>
			</button>
		</aside>
		<aside class="ac-gn-bagview" data-analytics-region="bag">
			<div class="ac-gn-bagview-scrim">
				<span class="ac-gn-bagview-caret ac-gn-bagview-caret-small"></span>
			</div>
			<div class="ac-gn-bagview-content" id="ac-gn-bagview-content">
			</div>
		</aside>
	</div>
</nav>
<div class="ac-gn-blur"></div>
<div id="ac-gn-curtain" class="ac-gn-curtain"></div>
<div id="ac-gn-placeholder" class="ac-nav-placeholder"></div>

<script type="text/javascript" src="/ac/globalnav/7/ru_RU/scripts/ac-globalnav.built.js"></script>

	

<script src="/metrics/ac-analytics/2.14.0/scripts/ac-analytics.js" type="text/javascript" charset="utf-8"></script>
<script src="/metrics/ac-analytics/2.14.0/scripts/auto-init.js" type="text/javascript" charset="utf-8"></script>

	<main id="main" class="main" role="main" data-page-type="overview">
		<section class="section section-hero" data-analytics-section-engagement="name:hero">
			<div class="section-content">
				<div class="small-offset-1 small-10">
					<h1 class="typography-headline-elevated">Контактная информация Apple</h1>
				</div>
			</div>
		</section>
		<section class="section section-sales-inquiries" data-analytics-section-engagement="name:sales inquiries">
			<div class="section-content">
				<div class="sales-inquiries-inner small-offset-1 small-10" id=sales-inquiries>
					<div class="row">
						<h2 class="typography-headline-reduced">Продукты Apple: информация и покупка</h2>
					</div>
					<div class="row">
						<div class="features-column column large-5 small-12">
							<div class="copy-wrapper online-store">
								<h3 class="typography-eyebrow-elevated">Интернет-магазин Apple Online Store</h3>
								<p>Зайдите в интернет-магазин <a href="http://store.apple.com/ru">Apple Online Store</a>, чтобы приобрести продукты Apple, а также аксессуары сторонних производителей. Или сделайте заказ по телефону <span class="nowrap">8–800–333–51–73</span> с 9:00 до 21:00 в рабочие дни.</p>
								<p>Вы найдёте всю необходимую информацию о заказе в интернет-магазине <a href="http://store.apple.com/ru/account/home">Apple Online Store</a>. Чтобы изменить заказ, узнать о его состоянии, вернуть приобретённую продукцию или обновить информацию в вашей учётной записи, перейдите на страницу «<a href="http://store.apple.com/ru/account/home">Состояние заказа</a>». По другим вопросам обращайтесь в Службу поддержки покупателей магазина Apple Store по телефону <span class="nowrap">8–800–333–51–73</span>. Служба работает с 9:00 до 21:00 в рабочие дни.</p>
							</div>
						</div>
						<div class="features-column2 column small-12 small-offset-0 large-offset-1 large-5">
							<div class="copy-wrapper resellers">
								<h3 class="typography-eyebrow-elevated">Где купить</h3>
								<p>Используйте <a href="/ru/buy/locator/" data-analytics-region="learn more" data-analytics-title="reseller locator">поиск</a>, чтобы найти ближайших к вам реселлеров и поставщиков услуг Apple.</p>
								<p>iPhone можно купить у реселлера, оператора сотовой связи или на сайте Apple — <a href="/ru/iphone/buy/">выберите</a> любой удобный вариант.</p>
							</div>
							<div class="copy-wrapper education">
								<h3 class="typography-eyebrow-elevated">Покупки для сферы образования</h3>
								<p>Если вы учитесь, преподаёте или работаете в сфере образования, зайдите в раздел <a href="https://www.apple.com/ru-edu/shop" data-analytics-region="buy" data-analytics-title="apple store for education">Apple Store для образования</a>.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section section-support" data-analytics-section-engagement="name:support">
			<div class="section-content">
				<div class="support-inner small-offset-1 small-10" id=support>
					<div class="row">
						<h2 class="typography-headline-reduced">Помощь и техническая поддержка</h2>
					</div>
					<div class="row">
						<div class="features-column column large-5 small-12">
							<div class="copy-wrapper contact">
								<h3 class="typography-eyebrow-elevated">Обратитесь в службу поддержки Apple</h3>
								<p>Требуется обслуживание или техническая поддержка? <a href="https://getsupport.apple.com/" data-analytics-region="learn more" data-analytics-title="start your request online" data-analytics-exit-link>Заполните заявку онлайн</a>, и мы вам поможем.</p>
							</div>
							<div class="copy-wrapper get-help">
								<p>Другие способы получить помощь:</p>
								<ul>
									<li>Техническая поддержка: <span class="nowrap">8–800–555–67–34</span></li>
									<li><a href="https://support.apple.com/kb/HE57?locale=ru_RU&viewlocale=ru_RU" class="icon-wrapper" data-analytics-region="learn more" data-analytics-title="see all worldwide support telephone numbers" data-analytics-exit-link><span class="icon-copy">Посмотрите телефоны подразделений службы поддержки по всему миру</span><span class="icon icon-after more"></span></a></li>
									<li><a href="https://support.apple.com/kb/HT1937?locale=ru_RU&viewlocale=ru_RU" class="icon-wrapper" data-analytics-region="learn more" data-analytics-title="contact a mobile carrier" data-analytics-exit-link><span class="icon-copy">Обратитесь к оператору мобильной связи</span><span class="icon icon-after more"></span></a></li>
									<li><a href="https://locate.apple.com/ru/ru/" class="icon-wrapper" data-analytics-region="learn more" data-analytics-title="make a reservation at an apple retail store genius bar" data-analytics-exit-link><span class="icon-copy">Найдите авторизованного поставщика услуг Apple</span><span class="icon icon-after more"></span></a></li>
									<li>Служба поддержки Beats:<br><span class="nowrap">8–800–555–62–46</span> или <a href="https://ru.beatsbydre.com/support/international-numbers.html" rel="nofollow" class="icon-wrapper" data-analytics-region="learn more" data-analytics-title="beats worldwide support telephone numbers" data-analytics-exit-link><span class="icon-copy">посмотрите телефоны подразделений службы поддержки по всему миру</span><span class="icon icon-after icon-external"></span></a></li>
								</ul>
							</div>
							<div class="copy-wrapper technical">
								<p>Для большинства продуктов Apple предоставляется 90 дней бесплатной технической поддержки. <a href="/ru/support/" data-analytics-region="learn more" data-analytics-title="online technical support" data-analytics-exit-link>Онлайн-поддержка для продуктов Apple</a> доступна и по истечении первоначальных 90 дней.</p>
							</div>
							<div class="copy-wrapper online">
								<h3 class="typography-eyebrow-elevated">Посмотрите разделы онлайн‑поддержки</h3>
								<p>На <a href="https://support.apple.com/ru-ru" data-analytics-region="learn more" data-analytics-title="apple support" data-analytics-exit-link>сайте службы поддержки Apple</a> вы найдёте ответы на часто задаваемые вопросы, руководства и подробные технические статьи.</p>
								<p>Для консультации по вопросам, связанным с наушниками Beats by Dre, посетите <a href="http://ru.beatsbydre.com/support/" rel="nofollow" data-analytics-region="learn more" data-analytics-title="beats support" data-analytics-exit-link>страницу службы поддержки Beats</a>.</p>
							</div>
						</div>
						<div class="features-column2 column small-12 small-offset-0 large-offset-1 large-5">
							<div class="copy-wrapper lost-stolen">
								<h3 class="typography-eyebrow-elevated">Потерянные или украденные продукты Apple</h3>
								<p>Если вы потеряли или нашли продукт Apple, <a href="https://support.apple.com/kb/HT2526?locale=ru_RU&amp;viewlocale=ru_RU" data-analytics-region="learn more" data-analytics-title="contact your local law enforcement agency to report it" data-analytics-exit-link>обратитесь в местные правоохранительные органы и сообщите о произошедшем</a>. Вы также можете найти список серийных номеров, связанных с вашим Apple ID, и узнать об использовании функции «Найти iPhone» для iPhone, iPad, iPod touch или Mac.</p>
							</div>
							<div class="copy-wrapper legal">
								<h3 class="typography-eyebrow-elevated">Юридическая информация</h3>
								<p>Если у вас есть юридический вопрос, перейдите на страницу <a href="/legal/contact/" data-analytics-region="learn more" data-analytics-title="apple.com/legal/contact">apple.com/legal/contact</a> и выберите нужный пункт в меню. Если вы хотите сообщить о возможной контрафактной или поддельной продукции либо о других видах предполагаемого нарушения прав на интеллектуальную собственность Apple, выберите пункт Report Counterfeit or Knockoff Products (Сообщить о контрафактных продуктах или подделках).</p>
								<h4 class="typography-tout">Направить запрос</h4>
								<p>Потребители и организации в России могут направлять свои запросы в отношении App Store, iCloud и Apple Music <a href="https://getsupport.apple.com/?caller=rll&PGF=PGF63003&category_id=SC0998&symptom_id=88814&solution=eml" data-analytics-region="learn more" data-analytics-title="https://getsupport.apple.com/?caller=rll&PGF=PGF63003&category_id=SC0998&symptom_id=88814&solution=eml ">по ссылке</a>.</p><p> Мы подтвердим получение направленного вами запроса и при необходимости предоставим вам ссылочный номер для его отслеживания.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section section-corporate-info">
			<div class="section-content">
				<div class="features">
					<div class="corporate-address">
						<h3 class="typography-eyebrow-elevated">Корпоративный адрес</h3>
						Apple<br />One Apple Park Way<br />Cupertino, CA 95014<br />+1 (408) 996–10–10
					</div>
					<div class="features-section section-frequently" id=frequently data-analytics-section-engagement="name:corporate info">
						<div class="features-row">
							<h3 class="typography-eyebrow-elevated">Часто запрашиваемая информация</h3>
							<div class="row">
								<div class="features-column column large-3-full small-12 large-offset-1 small-offset-0">
									<div class="copy-wrapper">
										<div class="typography-body">
											<h4 class="typography-tout">Поддержка по использованию Apple ID</h4>
											<p>Узнайте больше об идентификаторе Apple ID и преимуществах его использования.</p>
											<p><a href="/ru/support/appleid/" data-analytics-title="Learn more about Apple ID Support" data-analytics-region="Learn more" aria-label="Подробнее о поддержке по использованию Apple ID" class="icon-wrapper"><span class="icon-copy">Подробнее</span><span class="icon icon-after more"></span></a></p>
										</div>
									</div>
								</div>
								<div class="features-column column large-3-full small-12 large-offset-1 small-offset-0">
									<div class="copy-wrapper">
										<div class="typography-body">
											<h4 class="typography-tout">Продукты AppleCare</h4>
											<p>Узнайте, как получить дополнительные виды технической поддержки и обслуживания ваших устройств Apple.</p>
											<p><a href="/ru/support/products/" data-analytics-title="Learn more about AppleCare Products" data-analytics-region="Learn more" aria-label="Подробнее о продуктах AppleCare" class="icon-wrapper"><span class="icon-copy">Подробнее</span><span class="icon icon-after more"></span></a></p>
										</div>
									</div>
								</div>
								<div class="features-column column large-3-full small-12 large-offset-1 small-offset-0">
									<div class="copy-wrapper">
										<div class="typography-body">
											<h4 class="typography-tout">Ремонт и обслуживание</h4>
											<p>Посмотрите, какие варианты ремонта и обслуживания устройств доступны в вашем регионе.</p>
											<p><a href="https://getsupport.apple.com/" data-analytics-title="Learn more about Repair and Service" data-analytics-region="Learn more" aria-label="Подробнее о ремонте и обслуживании" class="icon-wrapper" data-analytics-exit-link><span class="icon-copy">Подробнее</span><span class="icon icon-after more"></span></a></p>
										</div>
									</div>
								</div>
								<div class="features-column column large-3-full small-12 large-offset-1 small-offset-0">
									<div class="copy-wrapper">
										<div class="typography-body">
											<h4 class="typography-tout">Сообщества поддержки Apple</h4>
											<p>Попросите помощи или поделитесь своим советом с тысячами других пользователей Apple.</p>
											<p><a href="http://discussions.apple.com/" data-analytics-title="Learn more about Apple Support Communities" data-analytics-region="Learn more" aria-label="Узнайте больше о сообществах поддержки Apple" class="icon-wrapper" data-analytics-exit-link><span class="icon-copy">Подробнее</span><span class="icon icon-after more"></span></a></p>
										</div>
									</div>
								</div>
								<div class="features-column column large-3-full small-12 large-offset-1 small-offset-0">
									<div class="copy-wrapper">
										<div class="typography-body">
											<h4 class="typography-tout">Статус ремонта</h4>
											<p>Легко и быстро проверяйте, как продвигается ремонт ваших продуктов.</p>
											<p><a href="https://support.apple.com/my-support" data-analytics-title="Learn more about Repair Status" data-analytics-region="Learn more" aria-label="Подробнее о статусе ремонта" class="icon-wrapper" data-analytics-exit-link><span class="icon-copy">Подробнее</span><span class="icon icon-after more"></span></a></p>
										</div>
									</div>
								</div>
								<div class="features-column column large-3-full small-12 large-offset-1 small-offset-0">
									<div class="copy-wrapper">
										<div class="typography-body">
											<h4 class="typography-tout">Вакансии</h4>
											<p>Посмотрите открытые вакансии, доступные возможности подработки и стажировок.</p>
											<p><a href="http://jobs.apple.com/ru/" data-analytics-title="Learn more about Job Opportunities" data-analytics-region="Learn more" aria-label="Подробнее о вакансиях" class="icon-wrapper" data-analytics-exit-link><span class="icon-copy">Подробнее</span><span class="icon icon-after more"></span></a></p>
										</div>
									</div>
								</div>
								<div class="features-column column large-3-full small-12 large-offset-1 small-offset-0">
									<div class="copy-wrapper">
										<div class="typography-body">
											<h4 class="typography-tout">Информация для СМИ и аналитические данные</h4>
											<p>Получите доступ к пресс‑релизам, контактам для СМИ и многому другому.</p>
											<p><a href="/ru/pr/" data-analytics-title="Learn more about Media and Analyst Info" data-analytics-region="Learn more" aria-label="Подробнее об информации для СМИ и аналитических данных" class="icon-wrapper"><span class="icon-copy">Подробнее</span><span class="icon icon-after more"></span></a></p>
										</div>
									</div>
								</div>
								<div class="features-column column large-3-full small-12 large-offset-1 small-offset-0">
									<div class="copy-wrapper">
										<div class="typography-body">
											<h4 class="typography-tout">Электронные рассылки</h4>
											<p>Обновите свой электронный адрес или измените настройки подписки.</p>
											<p><a href="https://mynews.apple.com/" data-analytics-title="Learn more about Email Subscriptions" data-analytics-region="Learn more" aria-label="Подробнее об электронных рассылках" class="icon-wrapper" data-analytics-exit-link><span class="icon-copy">Подробнее</span><span class="icon icon-after more"></span></a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="features-section section-feedback" id=feedback data-analytics-section-engagement="name:feedback">
						<div class="features-row">
							<h3 class="typography-eyebrow-elevated">Отзывы</h3>
							<p>Расскажите нам о нас. Выберите нужную категорию отзыва (мы читаем всё, но не всегда можем вам ответить):</p>
							<div class="row">
								<div class="features-column column large-3-full small-12 large-offset-1 small-offset-0">
									<div class="copy-wrapper">
										<div class="typography-body">
											<p><a href="/feedback/" data-analytics-title="product feedback" data-analytics-region="router" class="icon-wrapper"><span class="icon-copy">Отзыв о продукции</span><span class="icon icon-after more"></span></a></p>
										</div>
									</div>
								</div>
								<div class="features-column column large-3-full small-12 large-offset-1 small-offset-0">
									<div class="copy-wrapper">
										<div class="typography-body">
											<p><a href="/ru/contact/feedback/" data-analytics-title="website feedback" data-analytics-region="router" class="icon-wrapper"><span class="icon-copy">Отзывы о веб-сайте</span><span class="icon icon-after more"></span></a></p>
										</div>
									</div>
								</div>
								<div class="features-column column large-3-full small-12 large-offset-1 small-offset-0">
									<div class="copy-wrapper">
										<div class="typography-body">
											<p><a href="http://developer.apple.com/contact/" data-analytics-title="developer feedback" data-analytics-region="router" class="icon-wrapper" data-analytics-exit-link><span class="icon-copy">Отзыв разработчика</span><span class="icon icon-after more"></span></a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<!--/main-->
	<footer id="ac-globalfooter" class="no-js" lang="ru-RU" dir="ltr" data-analytics-region="global footer" role="contentinfo" aria-labelledby="ac-gf-label">
		<div class="ac-gf-content">
			<h2 class="ac-gf-label" id="ac-gf-label">Нижний колонтитул Apple</h2>
			<nav class="ac-gf-breadcrumbs" aria-label="Цепочка навигации" role="navigation">
				<a href="/ru/" class="home ac-gf-breadcrumbs-home">
												<span class="ac-gf-breadcrumbs-home-icon" aria-hidden="true"></span>
												<span class="ac-gf-breadcrumbs-home-label">Apple</span>
												<span class="ac-gf-breadcrumbs-home-chevron"></span>
												<span class="ac-gf-breadcrumbs-home-mask"></span>
											</a>
				<div class="ac-gf-breadcrumbs-path">
					<ol class="ac-gf-breadcrumbs-list" vocab="http://schema.org/" typeof="BreadcrumbList">
						<li class="ac-gf-breadcrumbs-item" property="itemListElement" typeof="ListItem">
							<span property="name">Контактная информация Apple</span>
							<meta property="position" content="1" />
						</li>
					</ol>
				</div>
			</nav>
				<nav class="ac-gf-directory with-5-columns" aria-label="Службы каталогов (Apple)" role="navigation">
		<!--googleoff: all-->
		<div class="ac-gf-directory-column"><input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-products" />
			<div class="ac-gf-directory-column-section">
				<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-products">
					<h3 class="ac-gf-directory-column-section-title">Выбирайте и покупайте</h3>
				</label>
				<a href="#ac-gf-directory-column-section-state-products" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
					<span class="ac-gf-directory-column-section-anchor-label">Открыть меню</span>
				</a>
				<a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
					<span class="ac-gf-directory-column-section-anchor-label">Закрыть меню</span>
				</a>
				<ul class="ac-gf-directory-column-section-list">
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/shop/goto/store" data-analytics-title="store">Магазин</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/mac/" data-analytics-title="mac">Mac</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/ipad/" data-analytics-title="ipad">iPad</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/iphone/" data-analytics-title="iphone">iPhone</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/watch/" data-analytics-title="watch">Watch</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/airpods/" data-analytics-title="airpods">AirPods</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/tv-home/" data-analytics-title="tv and home">TV и Дом</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/ipod-touch/" data-analytics-title="ipod touch">iPod touch</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/airtag/" data-analytics-title="airtag">AirTag</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/shop/goto/buy_accessories" data-analytics-title="accessories">Аксессуары</a></li>
				</ul>
			</div>
		</div>
		<div class="ac-gf-directory-column">
			<input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-services" />
			<div class="ac-gf-directory-column-section">
				<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-services">
					<h3 class="ac-gf-directory-column-section-title">Сервисы</h3>
				</label>
				<a href="#ac-gf-directory-column-section-state-services" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
					<span class="ac-gf-directory-column-section-anchor-label">Открыть меню</span>
				</a>
				<a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
					<span class="ac-gf-directory-column-section-anchor-label">Закрыть меню</span>
				</a>
				<ul class="ac-gf-directory-column-section-list">
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/apple-music/" data-analytics-title="apple music">Apple Music</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/apple-tv-plus/" data-analytics-title="apple tv plus">Apple TV+</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/apple-fitness-plus/" data-analytics-title="apple fitness plus">Apple Fitness+</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/apple-arcade/" data-analytics-title="apple arcade">Apple Arcade</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/icloud/" data-analytics-title="icloud">iCloud</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/apple-one/" data-analytics-title="apple one">Apple One</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/apple-pay/" data-analytics-title="apple pay">Apple Pay</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/apple-books/" data-analytics-title="apple books">Apple Books</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/apple-podcasts/" data-analytics-title="apple podcasts">Apple Podcasts</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/app-store/" data-analytics-title="app store">App Store</a></li>
				</ul>
			</div>
			<input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-accounts" />
			<div class="ac-gf-directory-column-section">
				<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-accounts">
					<h3 class="ac-gf-directory-column-section-title">Учётная запись</h3>
				</label>
				<a href="#ac-gf-directory-column-section-state-accounts" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
					<span class="ac-gf-directory-column-section-anchor-label">Открыть меню</span>
				</a>
				<a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
					<span class="ac-gf-directory-column-section-anchor-label">Закрыть меню</span>
				</a>
				<ul class="ac-gf-directory-column-section-list">
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="https://appleid.apple.com/ru/" data-analytics-title="manage your apple id" data-analytics-exit-link>Управление вашим Apple&nbsp;ID</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/shop/goto/account" data-analytics-title="apple store account">Учётная запись Apple&nbsp;Store</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="https://www.icloud.com" data-analytics-title="icloud.com" data-analytics-exit-link>iCloud.com</a></li>
				</ul>
			</div>
		</div>
		<div class="ac-gf-directory-column"><input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-storeservices" />
			<div class="ac-gf-directory-column-section">
				<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-storeservices">
					<h3 class="ac-gf-directory-column-section-title">Apple Store</h3>
				</label>
				<a href="#ac-gf-directory-column-section-state-storeservices" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
					<span class="ac-gf-directory-column-section-anchor-label">Открыть меню</span>
				</a>
				<a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
					<span class="ac-gf-directory-column-section-anchor-label">Закрыть меню</span>
				</a>
				<ul class="ac-gf-directory-column-section-list">
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/shop/goto/help/payments" data-analytics-title="financing">Варианты оплаты</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/recycling/" data-analytics-title="recycling">Переработка <span class="nowrap">устройств Apple</span></a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/shop/goto/order/list" data-analytics-title="order status">Состояние заказа</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/shop/goto/help" data-analytics-title="shopping help">Помощь при покупке</a></li>
				</ul>
			</div>
		</div>
		<div class="ac-gf-directory-column">
			<input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-business" />
			<div class="ac-gf-directory-column-section">
				<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-business">
					<h3 class="ac-gf-directory-column-section-title">Для бизнеса</h3>
				</label>
				<a href="#ac-gf-directory-column-section-state-business" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
					<span class="ac-gf-directory-column-section-anchor-label">Открыть меню</span>
				</a>
				<a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
					<span class="ac-gf-directory-column-section-anchor-label">Закрыть меню</span>
				</a>
				<ul class="ac-gf-directory-column-section-list">
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/business/" data-analytics-title="apple and business">Apple <span class="nowrap">в бизнесе</span></a></li>
				</ul>
			</div>
			<input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-education" />
			<div class="ac-gf-directory-column-section">
				<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-education">
					<h3 class="ac-gf-directory-column-section-title">Для образования</h3>
				</label>
				<a href="#ac-gf-directory-column-section-state-education" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
					<span class="ac-gf-directory-column-section-anchor-label">Открыть меню</span>
				</a>
				<a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
					<span class="ac-gf-directory-column-section-anchor-label">Закрыть меню</span>
				</a>
				<ul class="ac-gf-directory-column-section-list">
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/education/" data-analytics-title="apple and education">Apple в образовании</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/education/how-to-buy/" data-analytics-title="shop for k12">Покупка и поддержка</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/shop/goto/educationrouting" data-analytics-title="shop for university">Купите для учёбы</a></li>
				</ul>
			</div>
		</div>
		<div class="ac-gf-directory-column">
			<input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-responsibility" />
			<div class="ac-gf-directory-column-section">
				<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-responsibility">
					<h3 class="ac-gf-directory-column-section-title">Ценности Apple</h3>
				</label>
				<a href="#ac-gf-directory-column-section-state-responsibility" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
					<span class="ac-gf-directory-column-section-anchor-label">Открыть меню</span>
				</a>
				<a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
					<span class="ac-gf-directory-column-section-anchor-label">Закрыть меню</span>
				</a>
				<ul class="ac-gf-directory-column-section-list">
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/accessibility/" data-analytics-title="accessibility">Универсальный доступ</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/environment/" data-analytics-title="environment">Окружающая среда</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/privacy/" data-analytics-title="privacy">Конфиденциальность</a></li>
				</ul>
			</div>
			<input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-about" />
			<div class="ac-gf-directory-column-section">
				<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-about">
					<h3 class="ac-gf-directory-column-section-title">О компании Apple</h3>
				</label>
				<a href="#ac-gf-directory-column-section-state-about" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
					<span class="ac-gf-directory-column-section-anchor-label">Открыть меню</span>
				</a>
				<a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
					<span class="ac-gf-directory-column-section-anchor-label">Закрыть меню</span>
				</a>
				<ul class="ac-gf-directory-column-section-list">
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/newsroom/" data-analytics-title="newsroom">Newsroom</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/leadership/" data-analytics-title="apple leadership">Руководство Apple</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/careers/ru/" data-analytics-title="career opportunities">Карьера в Apple</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/legal/warranty/" data-analytics-title="warranty">Гарантия</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="https://investor.apple.com/" data-analytics-title="investors" data-analytics-exit-link>Инвесторы</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/compliance/" data-analytics-title="ethics and compliance">Этика и соответствие</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/apple-events/" data-analytics-title="events">Презентации</a></li>
					<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ru/contact/" data-analytics-title="contact apple">Контактная информация</a></li>
				</ul>
			</div>
		</div>
		<!--googleon: all-->
	</nav>

	<section class="ac-gf-footer">
		<div class="ac-gf-footer-shop" x-ms-format-detection="none">
			Найдите <a href="https://locate.apple.com/ru/ru/" data-analytics-title="other retailers or resellers" data-analytics-exit-link>магазин официального партнёра</a> или позвоните в службу поддержки <span class="nowrap">по телефону 8‑800‑333‑51‑73.</span>
		</div>
		<div class="ac-gf-footer-locale">
			<a class="ac-gf-footer-locale-link" href="/choose-country-region/" title="Выберите страну или регион" aria-label="Россия. Выберите страну или регион" data-analytics-title="choose your country">Россия</a>
		</div>
		<div class="ac-gf-footer-legal">
			<div class="ac-gf-footer-legal-copyright">© Apple Inc.,
				
				2021
				 г. Все права защищены.
			</div>
			<div class="ac-gf-footer-legal-links">
				<a class="ac-gf-footer-legal-link" href="/ru/legal/privacy/" data-analytics-title="privacy policy">Политика конфиденциальности</a>
				<a class="ac-gf-footer-legal-link" href="/legal/privacy/ru/cookies/" data-analytics-title="use of cookies">Использование cookies</a>
				<a class="ac-gf-footer-legal-link" href="/ru/legal/terms/site.html" data-analytics-title="terms of use">Условия использования</a>
				<a class="ac-gf-footer-legal-link" href="/ru/shop/goto/help/sales_refunds" data-analytics-title="sales and refunds">Продажа и возврат</a>
				<a class="ac-gf-footer-legal-link" href="/ru/legal/" data-analytics-title="legal">Юридическая информация</a>
				<a class="ac-gf-footer-legal-link" href="/ru/sitemap/" data-analytics-title="site map">Карта сайта</a>
			</div>
		</div>
	</section>

<script type="text/javascript" src="/ac/globalfooter/7/ru_RU/scripts/ac-globalfooter.built.js"></script>
<script type="application/ld+json">
	{
		"context": "http://schema.org",
		"id": "https://www.apple.com/#organization",
		"type": "Organization",
		"name": "Apple",
		"url": "https://www.apple.com/",
		"logo": "https://www.apple.com/ac/structured-data/images/knowledge_graph_logo.png?202112240152",
		"subOrganization": {
			"type": "Organization",
			"name": "Apple Support",
			"url": "https://support.apple.com",
	    "id": "https://support.apple.com/#organization"
		},
		"contactPoint": [
			{
				"type": "ContactPoint",
				"telephone": "+1-800-692-7753",
				"contactType": "sales",
				"areaServed": "US"
			},
			{
				"type": "ContactPoint",
				"telephone": "+1-800-275-2273",
				"contactType": "technical support",
				"areaServed": "US",
				"availableLanguage": ["EN", "ES"]
			},
			{
				"type": "ContactPoint",
				"telephone": "+1-800-275-2273",
				"contactType": "customer support",
				"areaServed": "US",
				"availableLanguage": ["EN", "ES"]
			}
		],
		"sameAs": [
			"http://www.wikidata.org/entity/Q312",
			"https://www.youtube.com/user/Apple",
			"https://www.linkedin.com/company/apple",
			"https://www.facebook.com/Apple",
			"https://www.twitter.com/Apple"
		]
	}
</script>

<script type="text/javascript" src="/ac/localeswitcher/4/ru_RU/scripts/localeswitcher.built.js"></script>

		</div>
	</footer>
	<script src="/v/contact/c/built/scripts/main.built.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>